parameters:
    level: 10
    paths:
        - bin/
        - config/
        - public/
        - src/
    treatPhpDocTypesAsCertain: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    rememberPossiblyImpureFunctionValues: false
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAlwaysTrueInLastCondition: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
    strictRules:
        disallowedShortTernary: false